/* about.css */

.about-section {
    color: #4B5563; 
    font-family: sans-serif; 
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1.25rem; 
    margin: 0 auto;
    max-width: 1200px; 
  }
  
 
  @media (min-width: 768px) {
    .about-container {
      flex-direction: row;
    }
  }
  

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem; 
  }
  
  
  @media (min-width: 768px) {
    .about-text {
      width: 50%; 
      align-items: flex-start; 
      text-align: left; 
      padding-right: 4rem; 
      margin-bottom: 0; 
    }
  }
  
 
  @media (min-width: 1024px) {
    .about-text {
      flex-grow: 1; 
      padding-right: 6rem; 
    }
  }
  
  .about-title {
    font-size: 1.875rem; 
    margin-bottom: 1rem; 
    color: #6B21A8; 
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  }
  

  @media (min-width: 640px) {
    .about-title {
      font-size: 3.75rem; 
      font-weight: bold;
    }
  }
  
  
  .about-description {
    margin-bottom: 2rem;
    line-height: 1.6; 
    color: #6B7280; 
    font-size: 1.125rem;
  }
  
 
  @media (min-width: 640px) {
    .about-description {
      font-size: 1.5rem; 
    }
  }
  

  .about-button-container {
    display: flex;
    justify-content: center;
  }
  

  .about-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; 
    background-color: #A855F7; 
    border: none;
    padding: 0.5rem 1.5rem; 
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0.25rem; 
    outline: none; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Button hover effects */
  .about-button:hover {
    background-color: #6B21A8; 
    color: #D1D5DB; 
  }

  .about-image-container {
    width: 83.333%; 
  }

  @media (min-width: 768px) {
    .about-image-container {
      width: 50%; 
    }
  }
  

  @media (min-width: 1024px) {
    .about-image-container {
      width: 100%;
      max-width: 32rem; 
    }
  }
  

  .about-image {
    object-fit: cover; 
    object-position: center;
    border-radius: 0.25rem; 
    width: 100%;
  }
  
  
  @media (min-width: 640px) {
    .about-image {
      width: 450px; 
    }
  }
  