/* footer.css */


.footer-wrapper {
 
    background-color: #c084fc; 
  }
  

  .footer {

    font-family: sans-serif;
    background-attachment: fixed;
  }
  

  .footer-container {

    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column; 
  }
  
  @media (min-width: 640px) {
    .footer-container {
      flex-direction: row; 
    }
  }
  

  .footer-brand-container {

    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  @media (min-width: 768px) {
    .footer-brand-container {
      justify-content: flex-start;
    }
  }
  
  .footer-brand {
 
    margin-left: 0.75rem;
 
    font-weight: bold;
    font-style: italic;
    color: #6B21A8; 
  }
  

 
  .footer-text {
  
    font-size: 0.875rem; 
    color: #374151; 
    margin-top: 1rem;
  }
  
  @media (min-width: 640px) {
    .footer-text {
      margin-left: 1rem;  
      padding-left: 1rem; 
      border-left: 2px solid #E5E7EB; 
      padding-top: 0.5rem;  
      padding-bottom: 0.5rem; 
      margin-top: 0;      
    }
  }
  
 
  .footer-social {
 
    display: inline-flex;
    justify-content: center;
    margin-top: 1rem; 
  }
  
  @media (min-width: 640px) {
    .footer-social {
      margin-left: auto; 
      margin-top: 0;    
      justify-content: flex-start; 
    }
  }
  

  .footer-social-link {
    
    margin-left: 0.75rem; 
    font-size: 1.25rem; 
    color: #111827;       
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .footer-social-link:hover {
    color: #6B21A8; 
  }
  