/* services.css */

.services-section {
   
    color: #4B5563; 
    font-family: sans-serif;
    background-color: #F3E8FF;
  }
  

  .services-container {
  
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 1.25rem; 
  }
  
 
  .services-title-container {
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5rem; 
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  

  .services-title {
    
    font-size: 1.875rem;
    font-weight: 500; 
    margin-bottom: 0.5rem;
    color: #6B21A8; 
  }
  
  @media (min-width: 640px) {
    .services-title {
      font-size: 3.75rem; 
      font-weight: bold; 
    }
  }
 
  .services-description {

    width: 100%;
    line-height: 1.6;
    font-size: 1rem; 
    color: #6B7280; 
    margin-top: 0.75rem; 
  }
  
  @media (min-width: 640px) {
    .services-description {
      font-size: 1.5rem; 
    }
  }
  
  @media (min-width: 1024px) {
    .services-description {
      width: 50%; 
    }
  }
  
  .services-grid {

    display: flex;
    flex-wrap: wrap;
    margin: -1rem; 
  }
  
  
  .services-card {
  
    padding: 1rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .services-card {
      width: 50%;
    }
  }
  
  @media (min-width: 1280px) {
    .services-card {
      width: 33.3333%; 
    }
  }
  

  .services-card-inner {

    border: 1px solid #E5E7EB; 
    padding: 1.5rem; 
    border-radius: 0.5rem; 
    background-color: #A78BFA; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
  }
  
  
  .services-icon-container {

    width: 2.5rem;  
    height: 2.5rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff; 
    margin-bottom: 1rem; 

  }
  

  .services-card-title {

    font-size: 1.125rem;
    color: #111827; 
    font-weight: 500; 
    margin-bottom: 0.5rem; 
  }
  

  .services-card-text {
 
    line-height: 1.5; 
    font-size: 1rem; 
  }
  